

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Rediriger www.aneepes vers aneepes.cesiebenin.com
    RewriteCond %{HTTP_HOST} ^www\.aneepes\.com$ [NC]
    RewriteRule ^(.*)$ http://aneepes.cesiebenin.com/$1 [L,R=301]
    
    # Redirection standard Laravel
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
